<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="foods.css">
    <script src="/javascript/button.js" defer></script>
    <title>Kitchen City Food Community</title>
</head>
<body>
    <div class="Header">
        <img src="/images/DLSU-night.jpg" alt="Header Background" class="HeaderBackground"/>
        <div class="KitchenCityFoodCommunity">
            <img src="/images/logo.png" alt="Kitchen City Logo" class="Logo1" />
            <span class="KitchenCity">Kitchen City</span>
            <span> </span>
            <span class="FoodCommunity">Food Community</span>
        </div>

        <div class="navis">
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
            <button class="HomeButton">
                <a href="http://localhost:3000/">
                <div class="Home">HOME</div>
            </button>
            <button class="ViewFoodsButton">
                <a href="http://localhost:3000/viewfood">
                <div class="ViewFoods">VIEW FOODS</div>
            </button>
            <button class="MealsOfTheWeekButton">
                <a href="http://localhost:3000/meals">
                <div class="MealsOfTheWeek">MEALS OF THE WEEK</div>
            </button>
            <button class="ProfileButton">
                <a href="http://localhost:3000/">
                <div class="Profile">PROFILE</div>
            </button>
        </div>
    </div>

    <div class="foodCards">
        {{#each foods}}
        <div class="food-item">
            <img class="pictureUrl" src="{{pictureUrl}}" alt="{{name}}" />
            <div class="foodName">{{name}}</div>
            <div class="OverallRating">Overall rating: {{overallRating}}</div>
            <div class="description">{{description}}</div>
            <div class="ingredients">
                <span>INGREDIENTS:<br/></span>
                <span>{{#each ingredients}}<br/> {{this}}{{#unless @last}}, {{/unless}}
                {{/each}}</span>
            </div>
            <div class="CalorieCount">
                <span>Calorie Count:</span>
                <span> {{calorieCount}} Calories</span>
            </div>
            <div class="BestPartneredWith">
                <span>Best Partnered With:</span>
                <span> {{bestPartneredWith}}</span>
            </div>
        </div>
        {{/each}}
    </div>
</body>
</html>
