{{!< layouts/main }}
<h1>{{user.username}}'s Profile</h1>
<img src="/images/{{user.profilePicture}}" alt="Profile Picture" width="150" height="150">
<p>{{user.description}}</p>
<h2>Latest Reviews</h2>
<ul>
  {{#each user.reviews}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<h2>Latest Comments</h2>
<ul>
  {{#each user.comments}}
    <li>{{this}}</li>
  {{/each}}
</ul>
<a href="/profile/edit/{{user.username}}">Edit Profile</a>